body {
  margin: 0px;
  font-family: "Roboto", sans-serif; }

.header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3f4ea5;
  display: grid;
  grid-template-columns: 20% 45% 35%;
  grid-template-rows: 1fr;
  grid-template-areas: "Logo Options Searchbar"; }
  .header_logo {
    grid-area: Logo;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .header_logo .logo_container {
      position: relative;
      left: 20%;
      text-align: center;
      font-size: 25px;
      text-transform: uppercase;
      color: white;
      padding: auto; }
  .header_options {
    grid-area: Options;
    display: flex; }
    .header_options_text {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      border-right: 1px solid rgba(165, 165, 165, 0.397); }
      .header_options_text_profile {
        margin-right: 30px; }
        .header_options_text_profile .link {
          text-decoration: none;
          color: white; }
      .header_options_text_home {
        margin-right: 30px; }
        .header_options_text_home .link {
          text-decoration: none;
          color: white; }
    .header_options_icons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      border-right: 1px solid rgba(165, 165, 165, 0.397); }
      .header_options_icons .icons_container {
        height: 100%;
        color: white;
        font-size: 1.5rem; }
        .header_options_icons .icons_container:nth-child(2) {
          margin-left: 5%;
          margin-right: 5%; }
    .header_options_menu {
      display: flex;
      margin-left: 5%; }
      .header_options_menu .menu_container {
        height: 100%;
        color: white;
        font-size: 1.5rem; }
  .header_searchbar {
    grid-area: Searchbar;
    display: flex; }
    .header_searchbar_icon {
      height: 100%;
      color: white;
      font-size: 1.5rem;
      margin-right: 10px; }
    .header_searchbar_search {
      width: 80%; }
      .header_searchbar_search .searchbar {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(207, 207, 207, 0.623);
        caret-color: white;
        color: white;
        font-size: 18px; }
        .header_searchbar_search .searchbar:focus {
          border: none;
          outline: none; }
        .header_searchbar_search .searchbar::placeholder {
          color: white; }

.top {
  width: 100%;
  height: 80vh;
  position: relative;
  background-image: url("../img/backgrounds.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .top_container {
    width: 40%;
    height: 40%;
    left: 5%;
    top: 40%;
    position: relative;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
    grid-template-areas: "Avatar Name"; }
    .top_container_avatar {
      grid-area: Avatar;
      padding: 20px; }
      .top_container_avatar .avatar {
        background-image: url("../img/tt_avatar_small.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 300px; }
    .top_container_text {
      grid-area: Name;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .top_container_text .name {
        color: white;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 10px; }
      .top_container_text .button_container {
        display: flex;
        column-gap: 15px; }
        .top_container_text .button_container .button {
          color: white;
          background-color: rgba(255, 255, 255, 0.5);
          padding: 10px;
          font-weight: 500;
          font-size: 1em;
          border: none;
          cursor: pointer; }

.body {
  height: 1300px;
  background-color: #dddddd;
  padding: 50px; }
  .body_content {
    width: 100%;
    height: 100%;
    background-color: blue;
    display: grid;
    grid-template-columns: 25% 55%;
    grid-template-rows: 1fr;
    grid-template-areas: "LeftContent RightContent";
    column-gap: 5%; }
    .body_content_left {
      grid-area: LeftContent; }
      .body_content_left .bcl_infoCard {
        background-color: white;
        padding: 10px;
        width: 100%;
        height: 250px;
        margin-bottom: 10px;
        box-shadow: 1px 1px black; }
        .body_content_left .bcl_infoCard_padding {
          padding: 20px; }
        .body_content_left .bcl_infoCard_intro {
          display: flex;
          align-items: center;
          margin-bottom: 20px; }
          .body_content_left .bcl_infoCard_intro_icon {
            font-size: 2.5em; }
          .body_content_left .bcl_infoCard_intro_text {
            margin-left: 10px;
            font-size: 1.25em; }
        .body_content_left .bcl_infoCard_title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px; }
          .body_content_left .bcl_infoCard_title_icon {
            font-size: 0.9em;
            color: #d6d6d6; }
            .body_content_left .bcl_infoCard_title_icon:hover {
              color: #008cff;
              transition: 0.2s; }
        .body_content_left .bcl_infoCard_location {
          font-size: 1em;
          margin-bottom: 20px;
          color: #d6d6d6; }
        .body_content_left .bcl_infoCard_buttonContainer_button {
          color: #008cff;
          cursor: pointer;
          background-color: transparent;
          border: none;
          font-weight: 700;
          font-size: 1.25em; }
      .body_content_left .bcl_photos {
        background-color: white;
        width: 100%;
        height: 450px;
        margin-bottom: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 85%;
        grid-template-areas: "Title" "Gallery"; }
        .body_content_left .bcl_photos_Titlecontainer {
          grid-area: Title;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          .body_content_left .bcl_photos_Titlecontainer_left {
            display: flex; }
            .body_content_left .bcl_photos_Titlecontainer_left_Icon {
              font-size: 1.25em;
              margin-right: 10px; }
          .body_content_left .bcl_photos_Titlecontainer_right_icon {
            font-size: 1.25em; }
        .body_content_left .bcl_photos_gallery {
          grid-area: Gallery;
          display: grid;
          grid-template-areas: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9";
          column-gap: 5px;
          row-gap: 5px; }
          .body_content_left .bcl_photos_gallery .gallery_images {
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; }
          .body_content_left .bcl_photos_gallery_img1 {
            grid-area: img1;
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSCa9d654V8Kv1lHH-vkrnQ7nf6S98mDpwsoA&usqp=CAU"); }
          .body_content_left .bcl_photos_gallery_img2 {
            grid-area: img2;
            background-image: url("https://picsum.photos/seed/picsum/200/300"); }
          .body_content_left .bcl_photos_gallery_img3 {
            grid-area: img3;
            background-image: url("https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg"); }
          .body_content_left .bcl_photos_gallery_img4 {
            grid-area: img4;
            background-image: url("https://thumbs.dreamstime.com/z/random-lines-abstract-black-white-texture-abstract-art-abstract-pattern-ragged-wavy-corrugated-jumble-line-shapes-royalty-159497755.jpg"); }
          .body_content_left .bcl_photos_gallery_img5 {
            grid-area: img5;
            background-image: url("https://i.pinimg.com/236x/5d/39/4f/5d394f0efd36850db1b33ceb7a055e48.jpg"); }
          .body_content_left .bcl_photos_gallery_img6 {
            grid-area: img6;
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR-gaMKMi4hjC8fInR8T00Naj4NpSduh7ycGg&usqp=CAU"); }
          .body_content_left .bcl_photos_gallery_img7 {
            grid-area: img7;
            background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/642b3ef4-4c03-4e93-a4eb-80c8146bee5d/d4jbdkh-59c39f42-eb4c-48d8-b06e-5f9877d4a06d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNjQyYjNlZjQtNGMwMy00ZTkzLWE0ZWItODBjODE0NmJlZTVkXC9kNGpiZGtoLTU5YzM5ZjQyLWViNGMtNDhkOC1iMDZlLTVmOTg3N2Q0YTA2ZC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.fLIBxuAhlzCEF2SOUlhSJy7sD8FYV9KypeZ0stKl8_E"); }
          .body_content_left .bcl_photos_gallery_img8 {
            grid-area: img8;
            background-image: url("https://i.redd.it/flnirv5p08x11.jpg"); }
          .body_content_left .bcl_photos_gallery_img9 {
            grid-area: img9;
            background-image: url("https://www.pikpng.com/pngl/m/2-24776_cute-random-png-clipart.png"); }
      .body_content_left .bcl_friends {
        background-color: white;
        width: 100%;
        height: 450px;
        margin-bottom: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 85%;
        grid-template-areas: "Title" "Gallery"; }
        .body_content_left .bcl_friends_Titlecontainer {
          grid-area: Title;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          .body_content_left .bcl_friends_Titlecontainer_left {
            display: flex; }
            .body_content_left .bcl_friends_Titlecontainer_left_Icon {
              font-size: 1.25em;
              margin-right: 10px; }
          .body_content_left .bcl_friends_Titlecontainer_right_icon {
            font-size: 1.25em; }
        .body_content_left .bcl_friends_gallery {
          grid-area: Gallery;
          display: grid;
          grid-template-areas: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9";
          column-gap: 5px;
          row-gap: 5px; }
          .body_content_left .bcl_friends_gallery .gallery_images {
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; }
          .body_content_left .bcl_friends_gallery_img1 {
            grid-area: img1;
            background-image: url("https://images.generated.photos/oO4hnwWAcGN69LKqAUTiL3uKADBoTgo1I0yfmA_V7GM/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA1NjQwNzUuanBn.jpg"); }
          .body_content_left .bcl_friends_gallery_img2 {
            grid-area: img2;
            background-image: url("https://images.generated.photos/Ay2Ru4e_NvQl6QqcaVBfEecY9z4-PKegABR95j_klGc/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA1NDIxMzguanBn.jpg"); }
          .body_content_left .bcl_friends_gallery_img3 {
            grid-area: img3;
            background-image: url("https://images.generated.photos/_yG-EQlXuxp2snmFg6CJoMMtbZQTo2RLb04Kdr2lRE4/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA0MTg3NjguanBn.jpg"); }
          .body_content_left .bcl_friends_gallery_img4 {
            grid-area: img4;
            background-image: url("https://images.generated.photos/b_7PAVu0guqfVdYQdC-bMNDSHvcbHMFkSwGWL6uTX1g/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA4NDk3MjcuanBn.jpg"); }
          .body_content_left .bcl_friends_gallery_img5 {
            grid-area: img5;
            background-image: url("https://images.generated.photos/cYblYn8HmPMp6Z18mOuW_VvZTjU28dLwQaCp05WuQ44/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAyMjM2MzMuanBn.jpg"); }
          .body_content_left .bcl_friends_gallery_img6 {
            grid-area: img6;
            background-image: url("https://images.generated.photos/hsDqX_-NqNSJyAFktwRR3HOIH_6ubtzWhQ9NqFx0doY/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAyOTYxNzIuanBn.jpg"); }
          .body_content_left .bcl_friends_gallery_img7 {
            grid-area: img7;
            background-image: url("https://images.generated.photos/xcLo4dWLhMcCJMv0TjhUo7FO9jDdaU8EAoC2kSfLafI/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAwNTYwNDUuanBn.jpg"); }
          .body_content_left .bcl_friends_gallery_img8 {
            grid-area: img8;
            background-image: url("https://images.generated.photos/QRzFlQh4r5Te-4-R55U6vgdbGLH5-9ujRKl0oU40Y4k/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA2ODI4MzcuanBn.jpg"); }
          .body_content_left .bcl_friends_gallery_img9 {
            grid-area: img9;
            background-image: url("https://images.generated.photos/YHkop4O20ludTdLsJvOn4ROBaPu0V8SFY3lU6HHxrxQ/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAwMjg5MjUuanBn.jpg"); }
    .body_content_right {
      grid-area: RightContent;
      background-color: yellow;
      position: relative; }
      .body_content_right .top_navbar {
        position: absolute;
        left: 0%;
        top: -8%;
        width: 100%;
        height: 7%;
        background-color: white;
        cursor: pointer;
        display: grid;
        grid-template-columns: 22.5% 22.5% 22.5% 22.5% 10%;
        grid-template-rows: 1fr;
        grid-template-areas: "TimeLine About Friends Photos Menu"; }
        .body_content_right .top_navbar_center {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
        .body_content_right .top_navbar_timeline {
          grid-area: TimeLine; }
          .body_content_right .top_navbar_timeline:hover .top_navbar_icon {
            color: #008cff; }
          .body_content_right .top_navbar_timeline:hover .top_navbar_text {
            color: #008cff; }
          .body_content_right .top_navbar_timeline:hover {
            border-bottom: 3px solid #008cff;
            transition: 0.2s; }
        .body_content_right .top_navbar_about {
          grid-area: About; }
          .body_content_right .top_navbar_about:hover .top_navbar_icon {
            color: #008cff; }
          .body_content_right .top_navbar_about:hover .top_navbar_text {
            color: #008cff; }
          .body_content_right .top_navbar_about:hover {
            border-bottom: 3px solid #008cff;
            transition: 0.2s; }
        .body_content_right .top_navbar_friends {
          grid-area: Friends; }
          .body_content_right .top_navbar_friends:hover .top_navbar_icon {
            color: #008cff; }
          .body_content_right .top_navbar_friends:hover .top_navbar_text {
            color: #008cff; }
          .body_content_right .top_navbar_friends:hover {
            border-bottom: 3px solid #008cff;
            transition: 0.2s; }
        .body_content_right .top_navbar_photos {
          grid-area: Photos; }
          .body_content_right .top_navbar_photos:hover .top_navbar_icon {
            color: #008cff; }
          .body_content_right .top_navbar_photos:hover .top_navbar_text {
            color: #008cff; }
          .body_content_right .top_navbar_photos:hover {
            border-bottom: 3px solid #008cff;
            transition: 0.2s; }
        .body_content_right .top_navbar_more {
          grid-area: Menu; }
          .body_content_right .top_navbar_more:hover .top_navbar_icon {
            color: #008cff; }
          .body_content_right .top_navbar_more:hover {
            border-bottom: 3px solid #008cff;
            transition: 0.2s; }
        .body_content_right .top_navbar .top_navbar_icon {
          font-size: 1.5em;
          margin-bottom: 5px;
          color: #d6d6d6; }
        .body_content_right .top_navbar .top_navbar_text {
          color: #d6d6d6;
          font-weight: 600; }
      .body_content_right .post {
        width: 100%;
        height: 600px;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 50% 10% 20% 15%;
        grid-template-areas: "Title" "Images" "Options" "Comment" "Input"; }
        .body_content_right .post_title {
          grid-area: Title;
          display: grid;
          grid-template-columns: 13% 77% 10%;
          grid-template-rows: 1fr;
          grid-template-areas: "Avatar Info Icon"; }
          .body_content_right .post_title_avatar {
            padding: 10px 15px; }
            .body_content_right .post_title_avatar_picture {
              width: 100%;
              border-radius: 100px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover; }
          .body_content_right .post_title_info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center; }
            .body_content_right .post_title_info_name a {
              color: #008cff;
              cursor: pointer; }
            .body_content_right .post_title_info_time {
              color: #d6d6d6; }
          .body_content_right .post_title_icon {
            font-size: 1.5em;
            color: #d6d6d6;
            display: flex;
            justify-content: center;
            align-items: center; }
        .body_content_right .post_image {
          grid-area: Images;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("https://cdn.vox-cdn.com/thumbor/FB34LKDynUO1ekz2PPAp3LddvXw=/0x0:5111x3583/920x613/filters:focal(2111x1613:2927x2429):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/65931002/583747376.jpg.0.jpg"); }
        .body_content_right .post_options {
          grid-area: Options;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .body_content_right .post_options_groupIcon1 {
            display: flex; }
            .body_content_right .post_options_groupIcon1_thumpUp {
              font-size: 1.5em;
              margin-left: 10px;
              margin-right: 30px;
              cursor: pointer;
              color: #d6d6d6; }
              .body_content_right .post_options_groupIcon1_thumpUp:hover {
                color: #008cff; }
            .body_content_right .post_options_groupIcon1_share {
              font-size: 1.5em;
              cursor: pointer;
              color: #d6d6d6; }
              .body_content_right .post_options_groupIcon1_share:hover {
                color: #008cff; }
          .body_content_right .post_options_groupIcon2 {
            display: flex; }
            .body_content_right .post_options_groupIcon2_CommentIcon {
              font-size: 1.5em;
              margin-left: 10px;
              margin-right: 10px;
              cursor: pointer;
              color: #d6d6d6; }
              .body_content_right .post_options_groupIcon2_CommentIcon:hover {
                color: #008cff; }
            .body_content_right .post_options_groupIcon2_numbers {
              color: #d6d6d6;
              margin-right: 10px; }
        .body_content_right .post_comments {
          grid-area: Comment;
          background-color: rgba(223, 223, 223, 0.774);
          display: grid;
          grid-template-columns: 15% 85%;
          grid-row: 1fr;
          grid-template-areas: "Avatar Content"; }
          .body_content_right .post_comments_avatar {
            padding: 10px 15px;
            grid-area: Avatar; }
            .body_content_right .post_comments_avatar_picture {
              width: 100%;
              border-radius: 100px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover; }
          .body_content_right .post_comments_content {
            grid-area: Content;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; }
            .body_content_right .post_comments_content_firstline {
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 5px; }
              .body_content_right .post_comments_content_firstline_name {
                color: #008cff;
                font-weight: 600;
                cursor: pointer; }
              .body_content_right .post_comments_content_firstline_time {
                color: #9e9e9e; }
            .body_content_right .post_comments_content_secondline {
              color: #808080; }
        .body_content_right .post_yourInput {
          grid-area: Input;
          background-color: white;
          display: grid;
          grid-template-columns: 12% 70% 15%;
          grid-template-rows: 1fr;
          grid-template-areas: "Avatar Searchbar Icons"; }
          .body_content_right .post_yourInput_avatar {
            padding: 10px 15px;
            grid-area: Avatar; }
            .body_content_right .post_yourInput_avatar_picture {
              width: 100%;
              border-radius: 100px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover; }
          .body_content_right .post_yourInput_input {
            grid-area: Searchbar;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            .body_content_right .post_yourInput_input_searchbar {
              width: 100%;
              border-bottom: 1px solid rgba(207, 207, 207, 0.623); }
              .body_content_right .post_yourInput_input_searchbar .post_searchbar {
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid rgba(207, 207, 207, 0.623);
                caret-color: #d6d6d6;
                color: #d6d6d6;
                font-size: 18px; }
                .body_content_right .post_yourInput_input_searchbar .post_searchbar:focus {
                  border: none;
                  outline: none; }
                .body_content_right .post_yourInput_input_searchbar .post_searchbar::placeholder {
                  color: #d6d6d6; }
          .body_content_right .post_yourInput_Icons {
            grid-area: Icons;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; }
            .body_content_right .post_yourInput_Icons_Image {
              font-size: 1.5em;
              color: #d6d6d6;
              margin-right: 20px; }
            .body_content_right .post_yourInput_Icons_Pacman {
              font-size: 1.5em;
              color: #d6d6d6; }
