body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(63, 78, 165);

  display: grid;
  grid-template-columns: 20% 45% 35%;
  grid-template-rows: 1fr;
  grid-template-areas: "Logo Options Searchbar";

  &_logo {
    grid-area: Logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo_container {
      position: relative;
      left: 20%;
      text-align: center;
      font-size: 25px;
      text-transform: uppercase;
      color: white;
      padding: auto;
    }
  }

  &_options {
    grid-area: Options;
    display: flex;

    &_text {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      border-right: 1px solid rgba(165, 165, 165, 0.397);

      &_profile {
        margin-right: 30px;

        .link {
          text-decoration: none;
          color: white;
        }
      }

      &_home {
        margin-right: 30px;

        .link {
          text-decoration: none;
          color: white;
        }
      }
    }

    &_icons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      border-right: 1px solid rgba(165, 165, 165, 0.397);

      .icons_container {
        height: 100%;
        color: white;
        font-size: 1.5rem;

        &:nth-child(2) {
          margin-left: 5%;
          margin-right: 5%;
        }
      }
    }

    &_menu {
      display: flex;
      margin-left: 5%;
      .menu_container {
        height: 100%;
        color: white;
        font-size: 1.5rem;
      }
    }
  }

  &_searchbar {
    grid-area: Searchbar;
    display: flex;

    &_icon {
      height: 100%;
      color: white;
      font-size: 1.5rem;
      margin-right: 10px;
    }

    &_search {
      width: 80%;

      .searchbar {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(207, 207, 207, 0.623);
        caret-color: white;
        color: white;
        font-size: 18px;

        &:focus {
          border: none;
          outline: none;
        }

        &::placeholder {
          color: white;
        }
      }
    }
  }
}

.top {
  width: 100%;
  height: 80vh;
  position: relative;
  background-image: url("../img/backgrounds.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &_container {
    width: 40%;
    height: 40%;
    left: 5%;
    top: 40%;
    position: relative;

    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
    grid-template-areas: "Avatar Name";

    &_avatar {
      grid-area: Avatar;
      padding: 20px;

      .avatar {
        background-image: url("../img/tt_avatar_small.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 300px;
      }
    }

    &_text {
      grid-area: Name;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .name {
        color: white;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 10px;
      }

      .button_container {
        display: flex;
        column-gap: 15px;

        .button {
          color: white;
          background-color: rgba(255, 255, 255, 0.5);
          padding: 10px;
          font-weight: 500;
          font-size: 1em;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  &_navbar {
    position: absolute;
    left: 30%;
    top: 92%;
    width: 50%;
    height: 15%;
    background-color: white;
    cursor: pointer;

    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5% 10%;
    grid-template-rows: 1fr;
    grid-template-areas: "TimeLine About Friends Photos Menu";

    &_center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &_timeline {
      grid-area: TimeLine;

      &:hover .top_navbar_icon {
        color: rgb(0, 140, 255);
      }
      &:hover .top_navbar_text {
        color: rgb(0, 140, 255);
      }

      &:hover {
        border-bottom: 3px solid rgb(0, 140, 255);
        transition: 0.2s;
      }
    }

    &_about {
      grid-area: About;

      &:hover .top_navbar_icon {
        color: rgb(0, 140, 255);
      }
      &:hover .top_navbar_text {
        color: rgb(0, 140, 255);
      }

      &:hover {
        border-bottom: 3px solid rgb(0, 140, 255);
        transition: 0.2s;
      }
    }

    &_friends {
      grid-area: Friends;

      &:hover .top_navbar_icon {
        color: rgb(0, 140, 255);
      }
      &:hover .top_navbar_text {
        color: rgb(0, 140, 255);
      }

      &:hover {
        border-bottom: 3px solid rgb(0, 140, 255);
        transition: 0.2s;
      }
    }

    &_photos {
      grid-area: Photos;

      &:hover .top_navbar_icon {
        color: rgb(0, 140, 255);
      }
      &:hover .top_navbar_text {
        color: rgb(0, 140, 255);
      }

      &:hover {
        border-bottom: 3px solid rgb(0, 140, 255);
        transition: 0.2s;
      }
    }

    &_more {
      grid-area: Menu;

      &:hover .top_navbar_icon {
        color: rgb(0, 140, 255);
      }

      &:hover {
        border-bottom: 3px solid rgb(0, 140, 255);
        transition: 0.2s;
      }
    }

    .top_navbar_icon {
      font-size: 1.5em;
      margin-bottom: 5px;
      color: rgb(214, 214, 214);
    }

    .top_navbar_text {
      color: rgb(214, 214, 214);
      font-weight: 600;
    }
  }
}
