.bcl_infoCard {
  background-color: white;
  padding: 10px;
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

  &_padding {
    padding: 20px;
  }

  &_intro {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &_icon {
      font-size: 2.5em;
    }

    &_text {
      margin-left: 10px;
      font-size: 1.25em;
    }
  }

  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &_icon {
      font-size: 0.9em;
      color: rgb(214, 214, 214);

      &:hover {
        color: rgb(0, 140, 255);
        transition: 0.2s;
      }
    }
  }

  &_location {
    font-size: 1em;
    margin-bottom: 20px;
    color: rgb(214, 214, 214);
  }

  &_buttonContainer {
    &_button {
      color: rgb(0, 140, 255);
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-weight: 700;
      font-size: 1.25em;
    }
  }
}
